<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/header.css'>
    <script src="../static/js/experiencia.js"></script>
    <script src="../static/js/estudios.js"></script>
    <title>Header</title>
</head>

<body style="font-size: 17px;">
    <div id="encabezado">
        <div class="marco-circular">
            <img src="../static/images/foto.png" alt="Foto mia" class="imagen-circular">
        </div>
        <p id="nombre" style="font-size: 30px;" class="posicion_nombre"><b>Johan Alejandro Duque Agudelo</b></p>
        <p class="posicion_cargo" id="Cargo"> <b> Analista de sistemas e investigador de seguridad informatica</b></p>
        
        <div class="contenedor">
            <img src="../static/images/correo.png" class="icons_links">
            <a class="texto_alineado" href="https://gmail.com" target="_blank" style="text-decoration: none;">
                <p id="email">johanduquea10@gmail.com</p>
            </a>
        </div>
        
        <div class="contenedor">
            <img src="../static/images/github.png" class="icons_links">
            <a class="texto_alineado" href="https://github.com/OFFJoann" target="_blank" style="text-decoration: none;">
                <p id="github">OFFJoann</p>
            </a>
        </div>
        
        <div class="contenedor">
            <img src="../static/images/linkedin.png" class="icons_links">
            <a class="texto_alineado" href="https://www.linkedin.com/in/johan-duque-5758a52a1//" target="_blank" style="text-decoration: none;">
                <p id="linkedin">Johan Duque</p>
            </a>
        </div>
    </div>
    
    <div>
        <ul class="posicion_descripcion">
        <li><h1 style="font-size: medium; color: #92aecb;"><b>SOBRE MI</b></h1></li>
            <ul style="position: relative; left: -1%;">    
                <li><p style="color: #669787;">Soy una persona proactiva, excelente compañero de equipo, organizado y responsable. Disfruto mucho aprender cosas nuevas, por lo que mi objetivo es un puesto <br>desafiante y dinámico donde poder compartir mi experiencia y a su vez sumar nuevos conocimientos, soy un apasionado por la ciberseguridad, me gusta<br>investigar y estar al tanto de nuevas metodologías de ataques para identificar y prevenir amenazas.</p></li>
            </ul>
        </ul>   
    </div>

    <div>
        <ul class="posicion_descripcion">
            <li><h1 style="font-size: medium; color: #92aecb;"><b>OBJETIVO</b></h1></li>
            <ul style="position: relative; left: -1%;">
                <li><p style="color: #669787;">Posicionarme como developer full stack enfocado a desarrolo de malware y auditor de ciberseguridad.</p></li>
            </ul>
        </ul>
    </div>
    <br>

    <div style="color: #b5fbfb;"><ul>
        
        <li><label style="font-size: medium; color: #92aecb;" for="Experiencia"><b>EXPERIENCIA LABORAL</b></label>
        <select name="Experiencia" id="Experiencia" onchange="mostrarseleccion()" class="button_experience">
        
            <option value="0">Selecciona</option>
            <option value="Teleperformace" >Teleperformance</option>
            <option value="Creaciones Nadar S.A">Creaciones Nadar S.A</option>

        </select>
        <div id="resultado" style="position: relative;"></div>

        </li>
        </ul>
    </div>

    <div style="color: #b5fbfb;"><ul>

        <li><label style="font-size: medium; color: #92aecb;" for="Estudios"><b>ESTUDIOS</b></label>
        <select name="Estudios" id="Estudios" onchange="mostrarestudios()" class="button_experience">

            <option value="0">Selecciona</option>
            <option value="Bachiller">Bachiller</option>
            <option value="Sena">Tecnica/Ingles</option>
            <option value="Platzi">Desarrollo</option>

        </select>
        <div id="resultado_estudios"></div>

        </li>
        </ul>
    </div>

    <br>

    <br>

    <div>
        <div>
            <ul>
                <li>Diseñé e implemente funcionalidades para usuarios finales para Producto Líder</li>
                <li>Realice varias automatizaciones con Python y Bash</li>
            </ul>
            <h4>Habilidades</h4>
            <p>Lenguajes: <span>Python</span>, <span>JavaScript</span>, <span>PHP</span> </p>
        </div>
    </div>

    <br>

    <div id="pie">
        <p id="direccion">Calle 93B # 34 50, <span>Medellín</span> 12345-6789 | Tel: <span>(555) 555-5555</span></p>
    </div>
</body>

</html>